@model IEnumerable<E_zavetisce.Models.Pet>

@{
    ViewData["Title"] = "Naše živali";
}


<div class="bg-dark text-white heading pets">
    <h1 class="display-4 bg-dark">Naše živali</h1>
</div>

<div class="d-flex flex-wrap">
    @foreach (var item in Model)
    {
        @if (!(bool)item.Adopted)
        {
            <a asp-action="Details" asp-route-id="@item.PetID"
                class="pet card-light text-reset text-decoration-none flex-grow-1 flex-basis">
                <div class="">
                    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                    <p class="date">Predan: @Html.DisplayFor(modelItem => item.DateAdded)</p>
                    <div class="lines-3">@Html.DisplayFor(modelItem => item.Type)</div>
                </div>
            </a>
        }
    }
</div>
