@model E_zavetisce.Models.Notification

@{
    ViewData["Title"] = "Ustvari obvestilo";
}
<div class="p-3">
    <h1>Ustvari</h1>

    <h4>Obvestilo</h4>
    <hr />
    <div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Body" class="control-label"></label>
                <textarea rows="10" asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ustvari" class="btn btn-primary" /> <a asp-action="Index"
                    class="btn btn-secondary">Nazaj na seznam</a>
            </div>
        </form>
    </div>
</div>