@{
    ViewData["Title"] = "Privacy Policy";
}
<main class="p-3">
    <h1>@ViewData["Title"]</h1>

    <p class="lead">Tukaj pri nas smo prepričani, da so podatki kot dragoceni zaklad. A čeprav bi radi rekli, da imamo
        čarovniški ščit,
        ki varuje vse vaše podatke, smo v resnici bolj kot ne samo navadni smrtniki.</p>

    <h4>Kaj se dogaja z vašimi podatki:</h4>
    <ul>
        <li>Lastnik podatkov: Ko se enkrat znajdejo pri nas, postanejo last države Čarobnih Krokodilov. Vsaj tako bi
            bilo
            super, kajne?
        </li>
        <li>Varovanje podatkov: Naša ekipa dela zelo trdo, da bi ohranjala vaše podatke varne. Uporabljamo čarobne kode
            in
            nekaj pravih čarovnic (ne, resno, imamo najboljše varuške za podatke), ampak garantirati ne moremo ničesar.
        </li>
        <li>Za kaj se uporabljajo vaši podatki: Da bi vam priskrbeli najboljše storitve, vas morda vprašamo za nekaj
            informacij. Brez skrbi, ne bomo prodajali vaših podatkov na črnem trgu magije.
        </li>
    </ul>
    <h4>Vaše pravice:</h4>

    <p>Imate pravico do magičnega nadzora nad svojimi podatki! Če želite vedeti, kateri čarovnik jih uporablja ali pa
        želite, da jih vrnemo nazaj v vašo digitalno čarobno torbo, nas le kontaktirajte.</p>

    <h4>Zapiski o piškotkih:</h4>

    <p>Nekateri pravijo, da so piškoti okusni. Naši piškoti so zgolj digitalne sledi, ki pomagajo izboljšati vašo
        izkušnjo
        na spletni strani. Če pa vam kateri izmed njih ni všeč, jih lahko vedno zavrnete.</p>

    <p>Upamo, da vam je ta skrivnostni vpogled v naš svet podatkov vsaj malo polepšal dan. Če imate kakršnakoli
        vprašanja
        ali če želite pokukati za zaveso, smo vedno tu!</p>
</main>