@model E_zavetisce.Models.Adoption

@{
    ViewData["Title"] = "Create";
    var pet = ViewData["Pet"] as E_zavetisce.Models.Pet;
}

<h1>Adopt Pet</h1>

<h4>@pet.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>Pet information:</p>
        <p>@pet.Type</p>
        <hr>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" name="id" value="@pet.PetID" />
            </div>
            <div class="form-group">
                <input type="submit" value="Adopt pet" class="btn btn-primary" />
                <a asp-controller="Pets" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>