.w-30 {
  width: 30%;
}

.lines-3{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
}

.index-main {
  background-image: url("../imgs/happy-dogs.jpg");
  background-position: 50% 80%; 
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.index-main h1{
  position: relative;
  top: -3rem;
  padding: 1.25rem;
  display: block;
  text-align: center;
  width: 60%;
  font-weight: bold;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}



.card-dark{
  background-color: rgba(33, 37, 41, 0.6);
  border-radius: 30px;
  transition: all 0.1s ease-in;
}

.card-dark:hover{
  background-color: rgba(33, 37, 41, 0.8);
  scale: 1.05;
  transition: all 0.2s ease-out;
}

.card-light{
  background-color: rgba(136, 140, 143, 0.6);
  border-radius: 30px;
}

.glass{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
